<ion-menu side="start" menuId="first" contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item>Inicio</ion-item>
      <ion-item>Categorías</ion-item>
      <ion-item>Tus pedidos</ion-item>
      <ion-item>Ventas</ion-item>
      <ion-item>Mensajes</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- La página principal del contenido -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <!-- Contenedor para el título y la barra de búsqueda -->
    <div class="toolbar-content">
      <ion-title>Marketplace</ion-title>
      <ion-searchbar class="custom-searchbar" placeholder="Buscar en Marketplace..."></ion-searchbar>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="main-content">
  <ion-grid>
    <ion-row>
      <ion-col size="9">
        <ion-col size="4" *ngFor="let product of products">
          <ion-card>
            <ion-img [src]="product.image"></ion-img>
            <ion-card-header>
              <ion-card-title>{{ product.title }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              {{ product.price }}
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div id="map-container" style="width: 100%; height: auto;">
    <div id="map" style="height: 200px; width: 100%;"></div>  <!-- Ajusta la altura aquí -->
  </div>
</ion-content>
