<ion-header>
</ion-header>
<ion-content>
  <!-- Pantalla de carga -->
  <div class="loading-screen" *ngIf="isLoading"></div>

  <!-- Contenido principal -->
  <div class="welcome-container" *ngIf="!isLoading">
    <!-- Imagen de bienvenida -->
    <img [src]="currentImage" alt="Bienvenida" class="welcome-image" [@fade]>

    <!-- Texto de bienvenida -->
    <h2 [@fade] [innerHTML]="welcomeMessage"></h2>

    <!-- Botón para avanzar -->
    <ion-button expand="full" (click)="changeMessage()">Siguiente</ion-button>
  </div>
</ion-content>
