<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding home-content">
  <div class="welcome-message">
    <h1>¡Bienvenido a nuestra aplicación!</h1>
    <p>Tu viaje comienza aquí.</p>
  </div>

  <div class="button-container">
    <ion-button expand="block" color="primary" [routerLink]="['/login']">
      Iniciar sesión
    </ion-button>
    <ion-button expand="block" color="secondary" [routerLink]="['/register']">
      Registrarse
    </ion-button>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    Diego Acevedo <br>
    Bastián Heresman <br>
    Pedro Navarro
  </ion-fab>
  
</ion-content>
