.back-button {
  position: absolute;
  top: 50%; /* Centra verticalmente */
  transform: translateY(-50%); /* Ajuste adicional para centrar */
  left: 10px; /* Espaciado desde el borde izquierdo */
  color: var(--ion-color-primary);
  display: flex;
  align-items: center;
  font-size: 1.2em;
}

.back-button ion-icon {
  margin-right: 8px;
}
